usuarios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="usuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="usuario" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
              <xs:element name="nombreUsuario">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-z][a-zA-Z0-9_]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="email">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="telefono">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(\+34|0034)?[ -]?[6789][0-9]{8}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="codigoPostal">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-5][0-9]{4}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="contrasena">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s]).{8,}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>